a:hover{
  text-decoration: none;
}

.absoluteTopRight{
  position: absolute;
  top:0;
  right:0;
}

.fondoTopBar{
  background-color: var(--violetaMedio);
}

.fondoVioleta0{
  background-color: var(--violetaMuyClaro0);
}

.fondoVioleta1{
  background-color: var(--violetaMuyClaro1);
}

.fondoGrisOscuro{
  background-color: var(--grisMuyOscuro0);
}

.cardNoBorder{
  border: 0px solid black;
}

.tituloVioleta{
  color: var(--violetaOscuro);
  -webkit-box-shadow: 0 10px 5px -6px var(--violetaOscuro);
  box-shadow: 0 10px 5px -6px var(--violetaOscuro);
}

.txtVioletaOscur{
  color: var(--morado);
  animation-name: aparecer;
  animation-duration: 1.5s;
}

.inputVioleta{
  color: var(--violetaOscuro);
  border: 3px solid var(--violetaOscuro);
  -webkit-box-shadow: 5px 5px 6px -3px var(--violetaOscuro);
  box-shadow: 5px 5px 6px -3px var(--violetaOscuro);
}

.inputVioleta:focus{
  background-color: var(--violetaClaro);
}

.alert-danger{
  color: var(--rojo);
  background-color: var(--rojoClaro);
}

.inputVioletaError{
  color: var(--granateClaro);
  border: 3px solid var(--granateClaro);
  -webkit-box-shadow: 5px 5px 6px -3px var(--granateClaro);
  box-shadow: 5px 5px 6px -3px var(--granateClaro);
}

.inputVioletaError:focus{
  background-color: var(--violetaClaro);
}

.btnVioleta{
  background-color: var(--violetaOscuro);
  border: 3px solid var(--violetaOscuro);
  color: var(--violetaClaro);
  font-weight: bold;
}

.btnVioleta:hover{
  background-color: var(--violetaClaro);
  color: var(--violetaOscuro);
  -webkit-box-shadow: 0px 0px 15px -3px var(--violetaOscuro);
  box-shadow: 0px 0px 15px -3px var(--violetaOscuro);
}

.btnVioletaOutline{
  background-color: var(--violetaClaro);
  border: 3px solid var(--violetaOscuro);
  color: var(--violetaOscuro);
  font-weight: bold;
}

.btnVioletaOutline:hover{
  background-color: var(--violetaOscuro);
  color: var(--violetaClaro);
  -webkit-box-shadow: 0px 0px 15px -3px var(--violetaOscuro);
  box-shadow: 0px 0px 15px -3px var(--violetaOscuro);
}

.active{
  border-bottom: 3px solid var(--violetaClaro);
}

.noactive:hover{
  -webkit-box-shadow: 0 8px 6px -6px var(--violetaClaro);
  box-shadow: 0 8px 6px -6px var(--violetaClaro);
}

.zoomIn{
  animation-name: zoomIn;
  animation-duration: 1s;
}

.zoomOut{
  animation-name: zoomOut;
  animation-duration: 1s;
}

.aparecer{
  animation-name: aparecer;
  animation-duration: 1s;
}

.zoomOutRotative{
  animation-name: zoomOutRotative;
  animation-duration: 1s;
}

.txtOpacity{
  opacity: 0.8;
}

.txtVioletaClar{
  color: var(--violetaMuyClaro1);
}
.txtVioletaClar:hover{
  color: var(--violetaClaro);
}

.fileUploadVioleta{
    color: var(--violetaMedio);
    border: 2px dashed var(--violetaMedio);
    height: 60px;
}

.fileUploadVioleta:hover{
  color: var(--violetaMedio);
  border: 2px hidden var(--violetaMedio);
  background-color: var(--violetaMuyClaro1);
}

.fileUploader{
  width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}
