:root{
--violetaMedio : #30325e;
--violetaMedio2 : #434578;
--violetaOscuro : #292b4f;
--violetaMuyClaro0 : #b5b8f5;
--violetaMuyClaro1 : #bcbeeb;
--violetaClaro : #8589d4;
--violetaMedioClaro : #7074c4;
--morado : #304780;
--granateClaro : #de476f;
--rojo : #c92c39;
--rojoClaro : #fc97ba;
--grisMuyOscuro0 : #1a1a1a;
--grisMuyOscuro1 : #151515;
--azulMedio : #7260f7;
--azulClaro : #bacef7;
}
