:root{
--violetaMedio : #7733ff;
--violetaOscuro : #661aff;
--violetaMuyClaro0 : #f2e6ff;
--violetaMuyClaro1 : #e7ddfb;
--violetaClaro : #cfb9fc;
--morado : #4d0099;
--granateClaro : #de476f;
--rojo : #c92c39;
--rojoClaro : #fc97ba;
--grisMuyOscuro0 : #1a1a1a;
--grisMuyOscuro1 : #151515;
}
